/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#logo-banner {
    height: auto;
    background-color: green;
}

#logo {
    padding-left: 1rem;
}

#logo-text {
    display: inline-block;
    vertical-align: top;
    margin-left: -3rem;
}

#logo-title {
    color: orange;
    font-size: xx-large;
    font-family: system-ui;
    font-weight: bolder;
}

#logo-subtitle {
    text-align: center;
    color: lightgreen;
    font-size: medium;
    opacity: 0.5;
}

.right-aligned-constant {
    text-align: right !important;
}

.page-title {
    font-size: larger;
    text-align: center;
    width:100%;
    display: block;
    padding-top:0.5rem;
}

#sales-chart-container div {
    margin: 0 auto;
    width: 90%;
    height: 25rem;
}

#sales-chart {
    background-color: whitesmoke;
    border-style: solid;
    border-color: lightgrey;
    border-width: medium;
}