@page
@model CUSTDELIV
@{
    ViewData["Title"] = "CUSTDELIV";
    int pageTabIndex = 1;
}

@* Migrated on 8/25/2023 at 5:23 PM by ASNA Monarch(R) version 11.4.12.0 *@
@* Legacy location: library ERCAP, file QDDSSRC, member CUSTDELIV *@


<form id="MonarchForm" method="post">
    <DdsFile DisplayPageModel="Model" KeyNames="F12 'Cancel';" >

        <DdsFunctionKeys Location="HorizontalBottom" />

        <main role="main" class="display-element-uninitialized">
            @{
                int SFLC_SubfilePage = 10;
            }
            <DdsSubfileControl For="SFLC" StretchConstantText=false SubfilePage="@SFLC_SubfilePage" CueCurrentRecord=true ClickSetsCurrentRecord=true>
                <span class="page-title">SunFarm Customer Delivery Inquiry</span>

                <div Row="1">
                    <DdsConstant Col="2" Text=@System.Environment.UserName />
                </div>
                <div Row="3">
                    <DdsConstant Col="5" Text="1=Select" Color="Blue" />
                </div>
                <div Row="5">
                    <DdsConstant Col="5" Text="Sel Customer Number and Name             Delivery Address          Zip  " Color="DarkBlue" Underline="*True" />
                </div>
                <div Row="6" RowSpan="@SFLC_SubfilePage">
                    @for (int rrn=0; rrn < Model.SFLC.SFL1.Count; rrn++)
                    {
                        int row = 6 + rrn;
                        <DdsSubfileRecord RecordNumber="rrn" For="SFLC.SFL1">
                            <DdsCharField Col="6" For="SFLC.SFL1[rrn].SFLSEL" VisibleCondition="!( 60 )" VirtualRowCol="@row,6" tabIndex=@pageTabIndex++ />
                            <DdsDecField Col="8+2" For="SFLC.SFL1[rrn].SFLCUSTh" EditCode="Z" />
                            <DdsCharField Col="18+2" For="SFLC.SFL1[rrn].SFLCUST" />
                            <DdsCharField Col="46+2" For="SFLC.SFL1[rrn].SFLCITY" />
                            <DdsCharField Col="72+2" For="SFLC.SFL1[rrn].SFLZIP" />
                        </DdsSubfileRecord>
                    }
                </div>
            </DdsSubfileControl> @* SFLC *@
            <DdsRecord For="KEYS">
                <div Row="23">
                    <DdsConstant Col="5" Text="F12=Previous" Color="Blue" />
                </div>
            </DdsRecord> @* KEYS *@

            <DdsMessagePanel class="dds-message-panel"/>

        </main>
    </DdsFile>
</form>
