@page
@model ORDHDSPF
@{
    ViewData["Title"] = "ORDHDSPF";
    int pageTabIndex = 1;
}

@* Migrated on 8/25/2023 at 5:23 PM by ASNA Monarch(R) version 11.4.12.0 *@
@* Legacy location: library ERCAP, file QDDSSRC, member ORDHDSPF *@


<form id="MonarchForm" method="post">
    <DdsFile DisplayPageModel="Model" KeyNames="F12 'Previous';" >

        <DdsFunctionKeys Location="HorizontalBottom" />

        <main role="main" class="display-element-uninitialized">
            <DdsRecord For="MYWINDOW" StretchConstantText=false WindowLeftCol=19 WindowTopRow=12 WindowWidthCols=36 WindowHeightRows=8 WindowTitle=@Model.MYWINDOW.WINTITLE>
                <DdsRecord For="ORDHREC" KeyNames="F4 'Prompt'; F11 'Delete';">
                    <div Row="1">
                        <DdsConstant Col="2" Text="Order number ..:" />
                        <DdsDecField Col="19" For="ORDHREC.DTORDNUM" EditCode="Z" />
                    </div>
                    <div Row="2">
                        <DdsConstant Col="2" Text="Order date ....:" />
                        <DdsDateField Col="19" For="ORDHREC.DTORDDATE"  VirtualRowCol="2,19" tabIndex=@pageTabIndex++ Comment="ORDER DATE" />
                    </div>
                    <div Row="3">
                        <DdsConstant Col="2" Text="Ship date .....:" />
                        <DdsDateField Col="19" For="ORDHREC.DTSHPDATE"  VirtualRowCol="3,19" tabIndex=@pageTabIndex++ Comment="PRICE" />
                    </div>
                    <div Row="4">
                        <DdsConstant Col="2" Text="Delivery date .:" />
                        <DdsDecField Col="19" For="ORDHREC.DTDELDATE" VirtualRowCol="4,19" EditCode="Z" tabIndex=@pageTabIndex++ />
                    </div>
                    <div Row="5">
                        <DdsConstant Col="2" Text="Ship via ......:" />
                        <DdsDecField Col="19" For="ORDHREC.DTSHPVIA" VirtualRowCol="5,19" EditCode="Z" tabIndex=@pageTabIndex++ />
                    </div>
                    <div Row="6">
                        <DdsConstant Col="2" Text="Total weight...:" />
                        <DdsCharField Col="19" For="ORDHREC.DTWEIGHT" Comment="TOTAL ORDER WEIGHT" />
                    </div>
                    <div Row="8">
                        <DdsConstant Col="2" Text="F4=Prompt" Color="Blue" />
                        <DdsConstant Col="15" Text="F11=Delete" VisibleCondition="!30" Color="Blue" />
                        <DdsConstant Col="28" Text="F12=Prev" Color="Blue" />
                    </div>
                </DdsRecord> @* ORDHREC *@

                <DdsMessagePanel class="dds-message-panel"/>

            </DdsRecord> @* MYWINDOW *@
            @{
                int SFLC_SubfilePage = 10;
            }
            <DdsSubfileControl For="SFLC" KeyNames="F6 'Add';"  SubfilePage="@SFLC_SubfilePage" CueCurrentRecord=true ClickSetsCurrentRecord=true StretchConstantText=false                >
                <span class="page-title">SunFarm Order Inquiry</span>

                <div Row="1">
                    <DdsConstant Col="2" Text=@System.Environment.UserName />
                </div>

                <div Row="2">
                    <DdsConstant Col="47" Text="Position to order:" />
                    <DdsDecField Col="57" ColSpan="15" class="left-aligned-code" For="SFLC.SETORDNUM" VirtualRowCol="9,69" EditCode="Z" tabIndex=@pageTabIndex++ />
                </div>

                <div Row="3">
                    <DdsConstant Col="1" Text=" " />
                </div>

                <nav class="tab">
                    <button id="initial-tab" type="button" class="tablinks" onclick="openTab(event.currentTarget)">Order Header</button>
                    <button type="button" class="tablinks" onclick="openTab(event.currentTarget)">Order Details</button>
                </nav>

                <div id="Order Header" class="tabcontent">
                    <div Row="4">
                        <DdsConstant Col="2" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="Customer:" />
                        <DdsCharField Col="12+1" For="SFLC.SCRCUST" Comment="CUSTOMER NBR AND NAME" />
                    </div>
                    <div Row="5">
                        <DdsConstant Col="3" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="Address:" />
                        <DdsCharField Col="12+1" For="SFLC.CMADDR1" />
                    </div>
                    <div Row="6">
                        <DdsCharField Col="12+1" For="SFLC.CMADDR2" />
                    </div>

                    <div Row="7">
                        <DdsConstant Col="6" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="City:" />
                        <DdsCharField Col="12+1" For="SFLC.CMCITY" />
                    </div>
                    <div Row="8">
                        <DdsConstant Col="5" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="State:" />
                        <DdsCharField Col="12+1" For="SFLC.CMSTATE" />
                    </div>

                    <div Row="9">
                        <DdsConstant Col="7" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="Zip:" />
                        <DdsCharField Col="12+1" For="SFLC.CMPOSTCODE" />
                    </div>

                    <div Row="10">
                        <DdsConstant Col="5" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="Phone:" />
                        <DdsCharField Col="12+1" For="SFLC.SCRPHONE" />
                    </div>
                    <div Row="11">
                        <DdsConstant Col="7" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="Fax:" />
                        <DdsCharField Col="12+1" For="SFLC.SCRFAX" Comment="FAX NUMBER" />
                    </div>
                    <div Row="12">
                        <DdsConstant Col="4" ColSpan="-1" class="right-aligned-constant" Color="darkblue" Text="Status:" />
                        <DdsCharField Col="12+1" For="SFLC.CMACTIVE" />
                    </div>
                </div>

                <div id="Order Details" class="tabcontent">
                    <div Row="13">
                        <DdsConstant Col="2" Text="Options:" Color="Blue" />
                    </div>
                    <div Row="14">
                        <DdsConstant Col="3+1" Text="2=Update hdr  3=Update line items  6=Print" Color="Blue" />
                    </div>
                    <div Row="15">
                        <DdsConstant Col="2" Text="Sel" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="7+1" Text="Order Nbr" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="19+1" Text="Order Date" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="30+1" Text="Ship Date" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="41+1" Text="Delv. Date" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="52+1" Text="Order Total" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="71+1" Text="Stat" Color="DarkBlue" Underline="*True" />
                        <DdsConstant Col="76+1" Text="Via" Color="DarkBlue" Underline="*True" />
                    </div>
                    <div Row="16" RowSpan="@SFLC_SubfilePage">
                        @for (int rrn=0; rrn < Model.SFLC.SFL1.Count; rrn++)
                        {
                            int row = 16 + rrn;
                            <DdsSubfileRecord RecordNumber="rrn" For="SFLC.SFL1">
                                <DdsDecField Col="2" For="SFLC.SFL1[rrn].SFSEL" VisibleCondition="!( 60 )" VirtualRowCol="@row,2" EditCode="Z" ValuesText="'0','2','3','6'" tabIndex=@pageTabIndex++ />
                                <DdsDecField Col="7+1" For="SFLC.SFL1[rrn].SFORDNUM" Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" EditCode="Z" />
                                <DdsDateField Col="19+1" For="SFLC.SFL1[rrn].SFORDDATE"  Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" Comment="ORDER DATE" />
                                <DdsDateField Col="30+1" For="SFLC.SFL1[rrn].SFSHPDATE"  Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" Comment="PRICE" />
                                <DdsDecDateField Col="41+1" For="SFLC.SFL1[rrn].SFDELDATE" DateFormat="ISO" DateSeparator="-" Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" />
                                <DdsDecField Col="52+1" For="SFLC.SFL1[rrn].SFORDAMT" Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" EditCode="A" />
                                <DdsCharField Col="71+1" For="SFLC.SFL1[rrn].SFFILESTAT" Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" />
                                <DdsDecField Col="76+1" For="SFLC.SFL1[rrn].SFSHPVIA" Color="Green : !61 , DarkBlue : 61" InvertFontColors="*True" EditCode="Z" />
                            </DdsSubfileRecord>
                        }
                    </div>
                </div>
            </DdsSubfileControl> @* SFLC *@
            <DdsRecord For="KEYS">
                <div Row="23">
                    <DdsConstant Col="3" Text="F6=New order   F12=Previous" Color="Blue" />
                </div>
            </DdsRecord> @* KEYS *@
            @{
                int MSGSFC_SubfilePage = 1;
            }
            <DdsSubfileControl For="MSGSFC"  SubfilePage="@MSGSFC_SubfilePage">
                <div Row="24" RowSpan="@MSGSFC_SubfilePage">
                    @for (int rrn=0; rrn < Model.MSGSFC.MSGSF.Count; rrn++)
                    {
                        int row = 24 + rrn;
                        <DdsSubfileRecord RecordNumber="rrn" For="MSGSFC.MSGSF">
                            <DdsCharField Col="2" For="MSGSFC.MSGSF[rrn].MessageText" ColSpan="79" />
                        </DdsSubfileRecord>
                    }
                </div>
            </DdsSubfileControl> @* MSGSFC *@

            <DdsMessagePanel class="dds-message-panel"/>

        </main>
    </DdsFile>
</form>

<script src="~/js/RecordTabs.js"></script>
<script>
    openTab(document.getElementById('initial-tab'));
</script>